.swiper-slide {
    text-align: center;
    
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-certificadosThumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-certificadosThumbs .swiper-slide-thumb-active {
  opacity: 1;
}