@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:wght@100&display=swap');

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input,
select {
    background-color: transparent;
    border-bottom: 2px solid #3e418438; /* Ancho y color del borde-bottom */
    transition: border-bottom-color 0.5s ease-in; /* Transición para el color del borde-bottom */
}

input:focus,
select:focus {
    border-bottom-color: #1f2147; /* Nuevo color del borde-bottom al hacer clic */
}


textarea{
    border-color: #3e418438;
}

.primeraCol{
    margin-top: 10rem !important;
}

.prueba{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.formularioInicio{
    margin-top: 2.5rem !important;
}

@media (max-width: 767px){
    .primeraCol{
        margin-top: 5rem !important;
    }

    .formularioInicio{
        margin-top: 1px !important;
    }

    .btn-enviar{
        margin-top: 2rem;
    }

    .card-body{
        padding: 0;
    }
}

.card{
    border: none;
}



p{
    color: #1f2147;
}

.boton-enviar{
    background-color: white;
    border: 2px solid #1f2147 !important; /* Ancho y color del borde */
    border-radius: 90px;
    color: #1f2147;
    font-weight: 700;
    padding: 7px 7px 7px 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.boton-enviar:hover{
    background-color: #1f2147;
    border: 2px solid hsl(0, 100%, 98%) !important; /* Ancho y color del borde */
    border-radius: 30px;
    color: white;
    font-weight: 700;
    padding: 7px 7px 7px 7px;
   
}

@media (min-width: 768px) and (max-width: 1199px){
    .prueba{
        font-size: 30px;
    }
}
